.info {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $c-grey;

  &__title {
    font-size: 15px;
    margin-bottom: 0.4em;
  }

  &__item {
    font-size: 13px;
    margin-bottom: 0.2em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
