@import 'base/index';
@import 'components/index';

html {
  overflow-y: scroll;
}

.l-grid {
  display:-webkit-flex;
  display:flex;
}

main {
  &::after, &::before {
    display: table;
    content: '';
    clear: both;
  }
}
