// Colors
$c-brand-color: #00BEC1;
$c-black: #000;
$c-white: #fff;
$c-pale-blue: #F2FCFC;
$c-light-grey: #FAFAFA;
$c-grey: #f5f5f5;
$c-lime-green: #39D18C;
$c-green: #2AB777;
$c-tomato-red: #e74c3c;
$c-sun-yellow: #f1c40f;

// Input
$io-xs-height: 50px;

// Border radius
$br-normal: 3px;

// Box shadow
$bs-normal: 0px 0px 50px -5px rgba(0,0,0,0.4);
$bs-button: 0px 0px 50px -10px rgba(0,0,0,0.35);
