<!-- <%= htmlWebpackPlugin.options.warning %> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <% htmlWebpackPlugin.options.vendorCss.forEach(link => {
      %><link href="<%= link %>" rel="stylesheet" type="text/css" /><% }); %>
  </head>
  <body id="wrapper">
    <main></main>
    <% htmlWebpackPlugin.options.vendorJs.forEach(script => {
      %><script type="text/javascript" src="<%= script %>"></script><% }); %>
  </body>
</html>
